@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
/*  */

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #20262E;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #8f40da;
}
body{
    overflow: hidden;
}

.navLinks{
    display: flex;
}
.navLinks li{
    list-style: none;
    margin: 0 15px;
}
.navLinks li a{
    font-size: 25px;
    color: #20262E;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navLinks li:hover a,
.socialIcons a:hover{
    color: #8f40da;
}
.socialIcons a{
    font-size: 30px;
    color: #20262E;
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width:100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background-color: linear-gradient(45deg,#8f40da,#FFB84C);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background-color: linear-gradient(45deg,#8f40da,#FFB84C);
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols0{
    width: 60%;
    z-index: 5;
}
.cols{
    width: 50%;
    position: relative;
}
.topLine{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #20262E;
}
.topLine::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #8f40da;
}
h1{
    display: block;
    font-size: 4.7em;
    font-weight: 900;
    color: #20262E;
}
.multiText{
    color: #8f40da;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #20262E;
}
/* Button */
/* Buttons */
/* Experiment */
.col1{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.animation-wrapper {
    width: 100%;
    padding-bottom: 100%;
  }
  
  .sphere-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }

